extends layout.pug 

block title
  title Bloggy | Home

block content
  header.header.home
    .header-information
      h1.h1 Enjoy blogs with 
        span bloggy
    .header-image
      img(src='/static/images/hero.png' alt='Illustration | from https://icons8.com/illustrations')
  section.section-advantages
    h2.h2 Why to choose us?
    .advantages
      .advantage
        svg
          use(xlink:href='/static/icons/icons.svg#i-users')
        h3.h3 Great range of active blog makers
        p Being one of the most popular blog web-site, Bloggy has a great range of active users.
      .advantage
        svg
          use(xlink:href='/static/icons/icons.svg#i-safe')
        h3.h3 Everything is safe and secure
        p As we aim to make you happy by helping you to enjoy and entertain, all our services are safe and secure.
      .advantage
        svg
          use(xlink:href='/static/icons/icons.svg#i-add')
        h3.h3 Availability of posting blogs
        p Alongside with reading the already availbale blogs, you can create your own posts to the public.
  section.section-blogs
      h2.h2 Blogs
      #blogs.blogs
        .blog-card
              .card-image
                img(src=`/static/images/blog-cards/`+ blogs[0].type +`.png` alt=`An Illustration of `+ blogs[0].type +` | from https://icons8.com/illustrations`)
              .card-information
                .data
                  svg
                    use(xlink:href='/static/icons/icons.svg#i-time')
                  p=blogs[0].date
                h3.h3=blogs[0].title
                p.text=blogs[0].text
                a.link(href=`/blogs/blog-` + blogs[0].id) Read &#8594;
        .blog-card
              .card-image
                img(src=`/static/images/blog-cards/`+ blogs[1].type +`.png` alt=`An Illustration of `+ blogs[1].type +` | from https://icons8.com/illustrations`)
              .card-information
                .data
                  svg
                    use(xlink:href='/static/icons/icons.svg#i-time')
                  p=blogs[1].date
                h3.h3=blogs[1].title
                p.text=blogs[1].text
                a.link(href=`/blogs/blog-` + blogs[1].id) Read &#8594;
        .blog-card
              .card-image
                img(src=`/static/images/blog-cards/`+ blogs[2].type +`.png` alt=`An Illustration of `+ blogs[2].type +` | from https://icons8.com/illustrations`)
              .card-information
                .data
                  svg
                    use(xlink:href='/static/icons/icons.svg#i-time')
                  p=blogs[2].date
                h3.h3=blogs[2].title
                p.text=blogs[2].text
                a.link(href=`/blogs/blog-` + blogs[2].id) Read &#8594;
        .blog-card
              .card-image
                img(src=`/static/images/blog-cards/`+ blogs[3].type +`.png` alt=`An Illustration of `+ blogs[3].type +` | from https://icons8.com/illustrations`)
              .card-information
                .data
                  svg
                    use(xlink:href='/static/icons/icons.svg#i-time')
                  p=blogs[3].date
                h3.h3=blogs[3].title
                p.text=blogs[3].text
                a.link(href=`/blogs/blog-` + blogs[3].id) Read &#8594;
      a.btn.dark(href='./pages/blogs.html') More &#8594;
  
