extends ../layout.pug

block content
  section.section-blog
    h2.h2 blog.title
    img(src=`/static/images/blog-cards/${blog.type}.png` alt=`An Illustration of ${blog.type} | from https://icons8.com/illustrations`)
    p.text=blog.text
    .controls
      span.detail= `Author: ${blog.author},  ${blog.date}`
      .buttons
        a.btn.dark(href='#') Update
        a.btn.blood(href='#') Delete
