extends ../layout.pug

block title
  title Bloggy | Blogs

block content
  header.header
        .header-image
          img(src='/static/images/blogs.png' alt='Illustration')
  section.section-blogs
    h2.h2 Blogs
    #blogs.blogs
      each blog in blogs
        .blog-card
          .card-image
            img(src=`/static/images/blog-cards/${blog.type}.png` alt=`An Illustration of ${blog.type} | from https://icons8.com/illustrations`)
          .card-information
            .data
              svg
                use(xlink:href='/static/icons/icons.svg#i-time')
              p=blog.date
            h3.h3=blog.title
            p.text=blog.text
            a.link(href=`/blogs/blog${ blog.id }`) Read &#8594;
    a(href="/add-blog") 
      svg#add-button
        use(xlink:href='/static/icons/icons.svg#i-plus')
